body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-size: 300px 100px; 
}

.container {
    display: flex;
    justify-content: center;
	width: 100%;
	height: 100%;
	margin:0;
}

.header {
	position: fixed;     
	top: 30%;
}

.title {
	color:white;
	text-align: center;
	font-size: 1.5em;
} 

.click {
	text-align: center;
}

.btn {
	position: fixed;     
	top: 60%;
}